* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  .header {
  }
  .navigator {
    list-style: none;
  }
  .list-cards {
    list-style: none;
    padding: 30px;
    background-color: rgb(241, 241, 241);
  }
  .card {
    background-color: white;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border-radius: 15px;
    &__header {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    &__id {
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      border: 2px solid rgb(48, 79, 174);
      span {
        font-size: 20px;
        margin: auto;
      }
    }
    &__name {
      width: 200px;
      height: 50px;
      background-color: lightblue;
      text-align: right;
      font-size: 20px;
      display: flex;
      p {
        font-size: 20px;
        margin: auto 0 auto auto;
      }
    }
    &__image {
      margin: 10px 0;
      background-color: rgb(240, 240, 240);
      width: 100%;
      height: 250px;
      border-radius: 15px;
      display: flex;
    }
    img {
      height: 100%;
      width: auto;
    }

    button {
      margin: 10px;
      width: 100%;
      border-radius: 15px;
      border: none;
      height: 50px;
    }
  }
}
